# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

# My Ignored Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

node_modules

starter-code

.notes.notes

# Next.js build output
.next/
out/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VSCode
.vscode/
.history/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# Local Sqlite Database
*.db
*.sqlite




