@import "tailwindcss";

@theme {
  /** Breakpoints **/
  --breakpoint-sm-mobile: 23em; /* 368px; */
  --breakpoint-lg-mobile: 35em; /* 560px; */
  --breakpoint-sm-tablet: 38.75em; /* 620px; */
  --breakpoint-medium-tablet: 43.25em; /* 692px; */
  --breakpoint-tablet: 47.5em; /* 760px; */
  --breakpoint-laptop: 64em; /* 1024px */
  --breakpoint-lg-laptop: 71.25em; /* 1140px */
  --breakpoint-desktop-sm: 73.75em; /* 1180px */
  --breakpoint-desktop-md: 76.5em; /* 1224px */
  --breakpoint-desktop-lg: 78em; /* 1248px */

  /** Fonts **/
  --font-public-sans: var(--font-public-sans);

  /** Colour Pallet **/

  /* Neutral */
  --color-primary: #000000;
  --color-secondary: #ffffff;

  /* Main Colours */
  --color-beige-100: #f8f4f0;
  --color-beige-500: #98908b;
  --color-grey-100: #f2f2f2;
  --color-grey-300: #b3b3b3;
  --color-grey-500: #696868;
  --color-grey-900: #201f24;

  /* Secondary Colours */
  --color-green: #277c78;
  --color-yellow: #f2cdac;
  --color-navy: #626070;
  --color-cyan: #82c9d7;
  --color-red: #c94736;
  --color-purple: #826cb0;

  /* Accents */
  --color-purple-light: #277c78;
  --color-turquoise: #f2cdac;
  --color-brown: #626070;
  --color-magenta: #82c9d7;
  --color-blue: #c94736;
  --color-navy-grey: #826cb0;
  --color-army-green: #277c78;
  --color-gold: #f2cdac;
  --color-orange: #626070;

  /** Grid Styles **/
  --grid-template-rows-login: min-content 1fr;
  --grid-template-rows-main-layout: 1fr min-content;

  --grid-template-columns-login: 16px repeat(10, 1fr) 16px;
  --grid-template-columns-login-desktop: 20px repeat(10, 1fr) 20px;
  --grid-template-columns-dashboard-mobile: 16px repeat(10, 1fr) 16px;
  --grid-template-columns-dashboard-tablet: 40px repeat(10, 1fr) 40px;

  --grid-template-columns-dashboard-overview: min-content 1fr;

  --grid-template-columns-totals-sm-tablet: repeat(2, 1fr);
  --grid-template-columns-totals-tablet: repeat(3, 1fr);

  --grid-template-columns-budgets-summary-tablet: 1fr max-content;


  --grid-template-columns-transaction-item-mobile: 32px 1fr 1fr;
  --grid-template-columns-transaction-item-tablet: 40px 1fr repeat(3, 88px);
  --grid-template-columns-transaction-labels-tablet: 1fr repeat(3, 88px);
  --grid-template-columns-transaction-item-desktop: 40px 1fr repeat(2, 120px) .5fr;
  --grid-template-columns-transaction-labels-desktop: 40px 1fr repeat(2, 120px) .5fr;

}

.dropdown-shadow{
  filter: drop-shadow(0 4 24 rgba(0,0,0,.25));
}

.dropdown-shadow-2{
  filter: drop-shadow(0 8 24 rgba(0,0,0,.05));
}